{%- comment -%}
*
* Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License
*By exercising the Licensed Rights (defined below), You accept and agree to be bound by the terms and conditions of this Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License ("Public License"). To the extent this Public License may be interpreted as a contract, You are granted the Licensed Rights in consideration of Your acceptance of these terms and conditions, and the Licensor grants You such rights in consideration of benefits the Licensor receives from making the Licensed Material available under these terms and conditions.
*
{%- endcomment -%}

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="../index.html">          
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="128px" height="128px" viewBox="0 0 128 128" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
<g><path style="opacity:0.796" fill="var(--text-main)" fill-rule="evenodd" clip-rule="evenodd" d="M 62.5,6.5 C 66.2115,12.7794 68.8782,19.6128 70.5,27C 68.8499,33.7863 66.5166,40.2863 63.5,46.5C 60.476,40.2625 58.1427,33.7625 56.5,27C 58.6073,20.1802 60.6073,13.3469 62.5,6.5 Z M 62.5,10.5 C 65.6768,15.4967 68.0101,20.9967 69.5,27C 67.6667,32.5 65.8333,38 64,43.5C 61.4361,38.198 59.2694,32.698 57.5,27C 59.4767,21.5717 61.1434,16.0717 62.5,10.5 Z"/></g>
<g><path style="opacity:0.797" fill="var(--text-main)" fill-rule="evenodd" clip-rule="evenodd" d="M 36.5,43.5 C 43.9195,45.5223 51.2528,47.8557 58.5,50.5C 51.5832,53.0278 44.5832,55.3612 37.5,57.5C 30.1454,55.1627 22.8121,52.8294 15.5,50.5C 22.5441,47.9965 29.5441,45.6632 36.5,43.5 Z M 34.5,45.5 C 41.3971,46.2243 48.0638,47.8909 54.5,50.5C 48.0798,53.2726 41.4132,54.7726 34.5,55C 29.4428,53.6529 24.4428,52.1529 19.5,50.5C 24.5597,48.6605 29.5597,46.9939 34.5,45.5 Z"/></g>
<g><path style="opacity:0.772" fill="var(--text-main)" fill-rule="evenodd" clip-rule="evenodd" d="M 88.5,43.5 C 96.2057,45.6768 103.872,48.0102 111.5,50.5C 104.188,52.8294 96.8546,55.1627 89.5,57.5C 82.161,55.1656 74.8276,52.8323 67.5,50.5C 74.6561,48.3026 81.6561,45.9693 88.5,43.5 Z M 86.5,45.5 C 93.4023,46.2256 100.069,47.8922 106.5,50.5C 100.155,53.5626 93.4879,55.0626 86.5,55C 81.7116,53.8044 77.0449,52.3044 72.5,50.5C 77.2554,48.8059 81.922,47.1392 86.5,45.5 Z"/></g>
<g><path style="opacity:1" fill="var(--text-main)" fill-rule="evenodd" clip-rule="evenodd" d="M 62.5,49.5 C 64.337,49.6395 64.6704,50.3061 63.5,51.5C 62.7025,51.0431 62.3691,50.3764 62.5,49.5 Z"/></g>
<g><path style="opacity:0.809" fill="var(--text-main)" fill-rule="evenodd" clip-rule="evenodd" d="M 62.5,54.5 C 63.7498,54.5774 64.5831,55.244 65,56.5C 67.4495,62.8456 69.2828,69.3456 70.5,76C 68.7969,91.0531 66.2969,105.886 63,120.5C 60.5535,105.708 58.3868,90.8744 56.5,76C 58.4017,68.7963 60.4017,61.6296 62.5,54.5 Z M 63.5,57.5 C 66.0678,63.2034 68.0678,69.2034 69.5,75.5C 67.9679,88.0305 65.8012,100.364 63,112.5C 61.166,100.163 59.3326,87.8296 57.5,75.5C 59.3099,69.4035 61.3099,63.4035 63.5,57.5 Z"/></g>
</svg>


        <h4>Xirin</h4>  
      </a>
      <div class="navbar-item navbar-dark-mode__mobile is-hidden-tablet" onclick="modeSwitcher()">
        <div class="buttons">
          <a class="button is-text">
            <span class="icon is-small">
              <img src="../assets/img/sun.svg" id="theme-toggle-img--mobile">
            </span>
          </a>
        </div>
      </div>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="../posts/how-to"  class="navbar-item">
        <!--
          How To
        </a>
        <a href="https://github.com/Jekyll-Garden/jekyll-garden.github.io" target="_blank" class="navbar-item">
          GitHub
        </a>
        <a href="https://jekyllrb.com/" target="_blank"  class="navbar-item">
          Jekyll
        </a>
        <a href="https://obsidian.md/"  target="_blank" class="navbar-item">
          Obsidian
        </a>
        -->
      </div>
      <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()" >
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-text">
              <span class="icon is-small">
                <img src="../assets/img/sun.svg" id="theme-toggle-img">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="/assets/js/Hamburger.js"></script>

